


.about__intro {

	h1 {
		color:$gray;
		font-family:$header-font;
		text-align:left;
		margin-top:rem-calc(5);
		font-size:rem-calc(30);
	}

	a {
		font-weight:500;
		cursor: pointer;

		&:hover {
			border-bottom:2px solid $black;
		}
	}


	@include breakpoint('tablet') {
		@include span(9 of 12);
		margin-top:rem-calc(60);
		
		h1 {
			font-size: rem-calc(40);
			line-height:1.4;
		}


	}

	@include breakpoint('laptop') {
		h1 {
			font-size:rem-calc(50);
			line-height:1.4;
		}

		p {
			padding-right:9%;
		}
	}
}


.about__intro  {
	.malarkey {

		&--hover:after {
			content:'';
			
		}

		@include breakpoint('laptop') {
			margin-top:rem-calc(-20);
			top:rem-calc(20);
			
			&.safari {
				top:0;	
			}
			
		}

	}
}


.about-resume {

	@include breakpoint('tablet') {
		@include span(10 of 12);
		@include push(2 of 12);
	}

	
}

.about__more {
	@include clearMP; 
	margin-top:rem-calc(30);
	font-weight:100;

	li {
		@include clearMP;
		list-style:none;
		display:block;
		margin-left:rem-calc(-20);


		a {
			border-bottom:none;
			&:hover {
				border-bottom:none;
			}
		}
	}

	@include breakpoint('tablet') {
		
		li {
			display: inline-block;
			margin-right:rem-calc(35);
			margin-left:0;
			
			a {
				cursor:pointer;
				border-bottom:none;
				i {
					display: inline-block;
					margin-left:rem-calc(5);
				}
			}
		}
	}
}