




.articleList__wrapper {

}


.articleList {
	clear:both;
	position: relative;

	&__image {
		@include span(4 of 12);
		img {
			width:100%;
		}
	}

	&__summary {
		@include span(6 of 12);
		background:rgba($white, 0.8);
		padding:rem-calc(40);
	}
}