

.article__intro {
	background-size:cover;
	// padding:rem-calc(50);
	margin:auto;

	h1 {
		height:100%;
		width:100%;
		// text-align: center;
		background:rgba($white, 0.8);
		padding:rem-calc(50) rem-calc(100);
	}

	.article__author {
		background:rgba($white, 0.8);
		padding:rem-calc(20) rem-calc(100);// text-align: center;
	}


}


.article__body {
	padding:rem-calc(20) rem-calc(60);
}