

.daily__desc {
	padding:rem-calc(20);	

	
	@include breakpoint('tablet') {
	 	@include container();
	 	
	 	p {
			width: span(6 of 12);
			margin:auto;
		}
	}
}

.daily__list {
	

	


	&--item {
		position: relative;

		img {
			width:100%;
			position: relative;
			z-index:1;
		}	

		&--day {
			background:rgba($black, 0.2);
			color:$white;
			padding:rem-calc(8);
			position: absolute;
			top:0;
			z-index:3;
			font-size:rem-calc(32);
		}

		&--type {
			position: absolute;
			top:rem-calc(8);
			background:rgba($black, 0.4);
			color:$white;
			padding: 10px 4px 10px 38px;
			font-size:rem-calc(14);
			z-index:2;
		}
	}


	@include breakpoint('tablet') {
		display:flex;
		flex-direction: horizontal;
		flex-wrap: wrap;
		height: 100vw;
		max-height:rem-calc(800);
		font-size:0;
		margin-top:rem-calc(60);
	
		

		&--item {
			width:50%;
		}
	}

	@include breakpoint('laptop') {
		&--item {
			width:33.3%
		}
	}
}


