
.dashboard__navigation {
	&__section {
		@include container;
		padding:rem-calc(20);
	}

	&--logo {
		@include span(6 of 12);
		height:rem-calc(45);
	}

	&--login {
		@include span(6 of 12);
		
		ul {
			@include clearMP;
			text-align: right;
			float:right;
			width:50%;
			
			
			li {
				list-style:none;
				@include span(1 of 2);
			}

			
		}
		
		
	}
}


.dashboard__sub-navigation {
	background:$red;
	
	nav {
		@include container;


		ul {
			@include clearMP;
			text-align: left;
		}
		
		li {
			margin-right:rem-calc(20);
			line-height:3.2;
		}
		a {
			color:$white;
		}
	}
}


.dashboard__section-title {
	@include clearfix;


	&__title {
		@include span(6 of 12);

		h1 {
			margin-top:rem-calc(30);
			font-size:rem-calc(32);
			color:$gray;
		}
	}

	&__action {
		@include span(6 of 12);
		@include last;
		
		h2 {
			text-align: right;
			font-size:rem-calc(20);
			margin-top:rem-calc(20);	
		}
		

		ul {
			@include clearMP;
			float:right;
		}

		li {
			list-style:none;
			background:$red;
			padding:rem-calc(8) rem-calc(20);
			margin-top:40%;
			text-align: center;
			
			a {color:$white;}

			&:hover {
				background:darken($red, 20%);

				a {color:$white;}
			}
		}
	}
}

.dashboard__wrapper {
	@include container;
}


.dashboard__list {
	@include clearMP;

	li {
		display: inline-block;
		list-style:none;
		width:100%;
		line-height:3.2;
		border-bottom:1px solid $gray;

		&:first-child {
			border-top:1px solid $gray;
		}


		span {
			display: block;
			@include span(3 of 12);
			&:last-child {
				@include last;
			}
		}
	}
}


.dashboard__edits {
	@include clearMP;

	li {
		display: inline-block;
		@include span(6 of 12);
		&:last-child {@include last; }
		border:none !important;
		text-align: center;
		
		a {color:$white}
	}


	.button--edit a {
		@include clearMP;
		background:$green;
		padding:rem-calc(8) rem-calc(20);
	}

	.button--delete input[type="submit"] {
		background:$red;
		padding:rem-calc(8) rem-calc(20);
		border:none;
		outline:none;
		color:$white;
	}
}
