

.google__welcome {
	@include breakpoint('tablet') {
		width:span(8 of 12);
		margin:auto;
		margin-top:rem-calc(60);
	}

	@include breakpoint('laptop') {
		width:span(6 of 12);
	}
}

.google__password {
	margin-top:rem-calc(30);

	.button__loading {
		margin-top:rem-calc(20);
	}

	.button-text {
		color:$white;
	}

	@include breakpoint('tablet') {
		width: span(8 of 12);
		margin:auto;
		input {
			margin-top:rem-calc(20);
		}
	}

	@include breakpoint('laptop') {
		width: span(6 of 12);
	}
}

.google__error {
	color:$red;
	margin-top:rem-calc(20);
	display:none;

	&.active {
		display:block;
	}

	@include breakpoint('tablet') {
		margin-top:rem-calc(50);
		&--text {
			@include clearMP;
			@include span(8 of 12);
		}
	}

	@include breakpoint('laptop') {
		&--text {
			float:right;
		}
	}
}


.google__jurassic-error {
	display: block;
	background-image: url('#{$icon}password-error.gif');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:contain;
	height:rem-calc(150);
	width:100%;
	
	@include breakpoint('tablet') {
		@include span(4 of 12 last);
		height:rem-calc(100);
	}

	@include breakpoint('laptop') {
		float:left;
	}


}

.google__easter {
	@include breakpoint('tablet') {
		padding-bottom:rem-calc(100);
	}
}

.google__animation {
	&--image {
		img {
			width:100%;
		}
	}

	@include breakpoint('tablet') {
		
		&--image img {
			text-align: center;
			width:50%;
		}
	}

	@include breakpoint('laptop') {
		&--image img {
			width:30%;
			text-align: center;
		}
	}
}

