

/*
|--------------------------------------------------------------------------
| Main
|--------------------------------------------------------------------------
|
| Description 1
|  Description 2
| 
|
*/

html, body {
	width:100%;
	margin:0;
	box-sizing:border-box;
}


html.bordered {
	border:10px solid $gray;
	background-color:$white;

	padding:rem-calc(10);

	@include breakpoint('tablet') {
		padding:rem-calc(10);
	}

	// body {
	// 	background-color:$white;
	// 	box-shadow: 0 0 10px rgba($black, 0.4);
	// }
}


body {
	background:$white;
}






.app-wrapper {
	@include breakpoint('tablet') {
		padding:rem-calc(10);
	}

	@include breakpoint('laptop') {
		padding:rem-calc(20);
	}

}

.app-container {
	background:$white;
	padding:rem-calc(10);

	@include breakpoint('large-phone') {
		padding: rem-calc(20);
	}
}


.home__wrapper {
	@include clearMP;
	
	@include breakpoint('tablet') {
		@include container;
	}
}


/*
|--------------------------------------------------------------------------
| MainTitle
|--------------------------------------------------------------------------
|
|
*/
.home__main {
	margin-top:60px;
	background:$white;
	margin:0;
	text-align: left;

	br { display:none; }

	
	h1,  h3  {
		color:$gray;
		font-family:$header-font;
		text-align: left;
		margin-right:rem-calc(-20);
		margin-left:rem-calc(-20);
	}

	&--hello {
		margin-bottom:0;
		font-weight:100;
		text-align: left;
	}

	h1 {
		margin-top:rem-calc(5);
		font-size:rem-calc(30);

	}

	h3 {
		font-family:$body-font-family;
		font-size:18px;
	}

	h5 {
		font-weight:100;
		margin-bottom:0;
		margin-right:rem-calc(-20);
		margin-left:rem-calc(-20);
	}


	.button {
		cursor: pointer;
		background:$red;
		display:inline-block;
		padding:rem-calc(20);

		a {
			color:$white;
		}
	}

	.red {
		color:$red;
	}


	@include breakpoint('large-phone') {
		h1, h3, h5 {
			margin-left:0;
			margin-right:0;
		}
	}


	@include breakpoint('tablet') {
		margin-top:rem-calc(90);
		@include span(10 of 12);

		h1 {
			font-size:rem-calc(40);
			line-height:1.4;
		}
		
	}

	@include breakpoint('laptop') {
		h1 {
			font-size:rem-calc(50);
			line-height:1.4;
		}

		br {
			display: block;
			position:static;
		}
	}

}



@keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}




/*
|--------------------------------------------------------------------------
| Malarkey
|--------------------------------------------------------------------------
| 
|
*/


.malarkey {
	position: relative;
  	
  	
	&--text {
		color:$red;
		margin:0;
	}

	&--hover {
		display:none;
	}

	

	@include breakpoint('laptop') {
		 overflow:hidden;
  	 	 display:inline-block;

		 &--hover {
		 	cursor:pointer;
		 	display:inline-block;

		  	&:before {
		  		content:"";
		  		display:block;
		  		position: absolute;
		  		height:100%;
		  		width:100%;
		  		background:$red;
		  		top:90%;
		  		@include transition(all $cubic 0.3s);
		  	}	

		  	&:after {
		  		content:"Click for New Buzzword Title of the Week";
		  		position: absolute;
		  		@include center(xy);
		  		color:$red;
		  		text-align: center;
		  		width:100%;
		  		height:100%;
		  		background:rgba($white, 0.9);
		  		z-index:$z-layer-range-3;
		  		font-size:rem-calc(20);
		  		padding-top:rem-calc(40);
		  		opacity:0;
		  		@include transition-delay(0.3s);
		  		@include transition(opacity ease-in 0.2s);
		  	}
		  }	

		 
		  &--text {
		  	display:inline-block;
			padding-right:rem-calc(12);
		  	padding-left:rem-calc(4);
		  	margin-left:rem-calc(-12);
		  	position: relative;
		  	color:$red;
		  	cursor:pointer;
			@include transition(color ease-in 0s);
			@include transition-delay(0.2s);


			&.on:after {
			    animation: cursor-blink 0.4s linear infinite;
			    content: "|";
			    font-weight: 100;
					
		  	}
		  }

		  /** Hover */
		  &:hover {
		   .malarkey--hover {
				&:before {
					top:0;
				}

				&:after {
					opacity:1;
				}
			}

			.malarkey--text {
				color:$white;
			}


		  }

		  /** Clicked */
		  &.clicked:hover {
		  	.malarkey--hover:after {
		  		opacity:0 !important;
		  	}
		  }
	 }
}

/*
|--------------------------------------------------------------------------
| Case Studies
|--------------------------------------------------------------------------
|
| Description 1
|  Description 2
| 
|
*/

.home__case-studies {
	@include breakpoint('tablet') {
		margin-top:rem-calc(90);
	}

	@include breakpoint('laptop') {
		@include span(10 of 12);
		@include push(2 of 12);
		@include last;
	}
}



/*
|--------------------------------------------------------------------------
| More Buttons
|--------------------------------------------------------------------------
|
|
*/


.home__more {
	@include clearMP; 
	margin-top:rem-calc(30);

	li {
		@include clearMP;
		list-style:none;
		display:block;
		margin-left:rem-calc(-20);
	}

	@include breakpoint('tablet') {
		
		li {
			display: inline-block;
			margin-right:rem-calc(35);
			margin-left:0;
			
			a {
				cursor:pointer;

				i {
					display: inline-block;
					margin-left:rem-calc(5);
				}
			}
		}
	}
}





