

/*
|--------------------------------------------------------------------------
| Pills Section
|--------------------------------------------------------------------------
|
*/

.innovation__wrapper {
	h3 .project-copy h3, .project-title h1, {
		color:$innovation-blue;
	}
}


.innovation__pills {
	@include breakpoint('laptop') {
		.row { 
			padding-top:rem-calc(20);
			padding-bottom:rem-calc(50); 
		}
	}
}


.innovation__bridging {
	background-color:$innovation-blue;
	padding-top:rem-calc(50);
	background-position:center center;
	background-size:cover;
	background-image:url('#{$innovation-image}/pills@phone.jpg');


	h3, p {
		color:$white;
	}

	@include breakpoint('tablet') {
		background-image:url('#{$innovation-image}/pills@tablet.jpg');
	}

	@include breakpoint('laptop') {
		background-image:url('#{$innovation-image}/pills@laptop.jpg');
	}

	@include breakpoint('desktop') {
		background-image:url('#{$innovation-image}/pills@large.jpg')
	}
}


/*
|--------------------------------------------------------------------------
| Brand Statements
|--------------------------------------------------------------------------
| 
|
*/
.innovation__brand {
	padding-bottom:rem-calc(40);
	
	h6 {
		text-transform: uppercase;
		color:$gray-light;
		margin-bottom:0;
	}

	h5 {
		font-size:rem-calc(24);
		color:lighten($gray, 50%);
		margin-top:0;
		font-family:$header-font;
		font-style:italic;
	}


	@include breakpoint('phone') {
		&--statement-1 {
			padding:0 rem-calc(20);
		}
		&--statement-2 {
			padding:rem-calc(20);
		}
		&--statement-3 {
			padding:0 rem-calc(20);
		}
		&--statement-4 {
			padding:0 rem-calc(20);
		}
	}
	

	@include breakpoint('tablet') {
		
		&--statement-1 {
			text-align: right;
			width:45%;
			opacity:1;

			h5 {
				width:38%;
				float:right;
			}

			
		}

		&--statement-2 {
			width:48%;
			margin-left:50%;
			position: relative;
			top:rem-calc(-40);
			opacity:1;
		}

		&--statement-3 {
			width:42%;
			text-align: right !important;
			position: relative;
			top:rem-calc(-120);
			opacity:1;

			h5 {
				width:52%;
				float: right;
			}

		}

		&--statement-4 {
			width:45%;
			margin-left:50%;
			position: relative;
			top: rem-calc(-150);
		}


		
	}


	
	@include breakpoint('laptop') {
		&--statement-1 {
			@include transition(opacity $cubic 0.3s, transform $cubic 0.3s);
			@include translate3d(0, 0, 0);
			opacity:1;
			width:45%;

			&.out {
				opacity:0;
				@include translate3d(-100%, 0, 0);
			}
		}
		
		&--statement-2 {
			@include transition(opacity $cubic 0.3s, transform $cubic 0.3s);
			@include translate3d(0, 0, 0);
			opacity:1;
			width:25%;
			margin-left:50%;

			&.out {
				opacity:0;
				@include translate3d(150%, 0, 0);
			}
			
		}
		
		&--statement-3 {
			@include transition(opacity $cubic 0.3s, transform $cubic 0.3s);
			@include translate3d(0, 0, 0);
			opacity:1;
			width:45%;
			
			h5 {
				width:38%;
			}
	
			&.out {
				opacity:0;
				@include translate3d(-100%, 0, 0);
			}
			
		}
		
		&--statement-4 {
			@include transition(opacity $cubic 0.3s, transform $cubic 0.3s);
			@include translate3d(0, 0, 0);
			opacity:1;
			width:20%;
			margin-left:50%;

			&.out  {
				opacity:0;
				@include translate3d(150%, 0, 0);
			}
			
		}
	}
}

/*
|--------------------------------------------------------------------------
| Elaborative
|--------------------------------------------------------------------------
|
*/


.innovation__elaborate {
	padding-top:rem-calc(50);
	background-color:$white;
	background-repeat:no-repeat;
	background-position:top center;
	background-image: url('#{$innovation-image}/elaborating@phone.jpg');
	
	h3 {
		color:$innovation-blue;
	}

	&--carousel {
		font-size:rem-calc(24);
		font-style:italic;
		line-height:1.5;
		padding-bottom:rem-calc(20);
		color:$innovation-blue !important;
		padding-bottom:rem-calc(40);
	}

	@include breakpoint('tablet') {
		background-image: url('#{$innovation-image}/elaborating@tablet.jpg');
	
		&--carousel {
			box-sizing:border-box;
			width:span(8 of 12);
			margin:auto;
			text-align: center;
			padding:20px;
		}

		.owl-item {
			text-align: left;
		}

		.owl-dots {
			margin:auto;
			width:auto;
			display: inline-block;
			margin-top:rem-calc(20);
		}

		.owl-dot {
			background:$blue;
			height:rem-calc(10);
			width:rem-calc(10);
			border-radius:rem-calc(10);
			display: inline-block;
			margin-right:rem-calc(10);

			&.active {
				background:$gray-light;
			}
		}
	}

	@include breakpoint('laptop') {
		background-image: url('#{$innovation-image}/elaborating@laptop.jpg');

		&--carousel {
			width:span(5 of 12);
			margin:auto;
			line-height:1.7;
		}
	}

	@include breakpoint('desktop') {
		background-image: url('#{$innovation-image}/elaborating@large.jpg');
		background-size:cover;
		

		&--carousel {
			width:span(4.5 of 12);
			max-width:rem-calc(600);
			margin:auto;
		}
	}
}






/*
|--------------------------------------------------------------------------
| Site Plan 
|--------------------------------------------------------------------------
|
|
*/

.innovation__site {
	text-align: left;

	h3 {
		text-align: left;
		margin-top:0;
		color:$innovation-blue;
	}

	img {
		width:100%;
	}

	

	
	@include breakpoint('tablet') {
		margin-top:rem-calc(50);
		margin-bottom:rem-calc(50);

		&--left {
			@include span(4 of 12);
			padding-top:rem-calc(10);
		}

		&--right {	
			@include span(8 of 12 10);
			@include last;
		}
	}
}



/*
|--------------------------------------------------------------------------
| New Logo Section
|--------------------------------------------------------------------------
|
| Description 1
|  Description 2
| 
|
*/
.innovation__new-look {
	h3 {
		color:$innovation-blue;
	}

	@include breakpoint('tablet') {
		margin-top:rem-calc(70);
		padding-bottom:rem-calc(70);
	}

	
}

.innovation__logos {
	background: $innovation-gray;
	padding:rem-calc(30);


	img {
		width:100%;
	}

	@include breakpoint('tablet') {
		&--innovation {
			text-align: center;
			margin:rem-calc(20) auto;
			
			img {
				width:auto;
				width:100%;
			}

			margin-bottom:rem-calc(60);
		}

		&--four-columns {
			div {
				@include span(3 of 12 no-gutters);
				
			}	

		}
	}


	@include breakpoint('laptop') {
		&--innovation {
			margin-top:rem-calc(50);
			margin-bottom:rem-calc(50);
			width:60%;
		}

		&--four-columns {
			padding-top:rem-calc(50);
		}
	}
	
}

/*
|--------------------------------------------------------------------------
| Familar Direction
|--------------------------------------------------------------------------
| 
|
*/


.innovation__familiar {
	
	h3 {color:$innovation-blue;}

	div {
		float:none;
		img {
			width:100%;
		}
	}

	@include breakpoint('tablet') {
		padding-top: rem-calc(80);
	}

	@include breakpoint('laptop') {
		
		div {
			float:right;
			margin-left:rem-calc(30);
			margin-bottom:rem-calc(20);

			img {
				width:100%;
			}
		}
	}
}


