

.logo-container {
	padding:rem-calc(30);

	// .afkl-lazy-wrapper {
	// 	width:80%;
	// 	margin:auto;
	// }

	// @include breakpoint('tablet') {
	// 	padding:rem-calc(35);

	// 	.afkl-lazy-wrapper {
	// 		width:65%;
	// 	}	
	// }

	// @include breakpoint('laptop') {
	// 	padding:rem-calc(40);

	// 	.afkl-lazy-wrapper {
	// 		width:50%;
	// 	}
	// }

}


.kellyn {
	background-color:#818286;
}

.amp {
	background-color:#010101;
}

.angela {
 	background-color:#0c2e1d;
}

.octopoda {
	background-color:#c62128;
	margin-bottom:rem-calc(-60);
}
