/*
|--------------------------------------------------------------------------
| Placholders for the Global Scope
|--------------------------------------------------------------------------
|
| Placeholder helpers needed for the global scope
| can be called using @extend %placholdername
| will not be printed in css
|
*/


/**
 * ClearFix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}




/**
 * Font Styling
 */



/**
 * Make Banners for Knowledge Center
 */
%makeBanner {
	&:before {
		
		
		display: block;
		position: absolute;
		text-transform: uppercase;
		padding: rem-calc(10) rem-calc(15);
		left: 0;
		top: rem-calc(15);
		width:90%;
		color:$white;
		white-space: nowrap;
		font-size:$font-size-medium;
		z-index:$z-layer-range-2;
		box-shadow:  rem-calc(2) rem-calc(8) rem-calc(10) rgba($black, 0.4);

		@include breakpoint('tablet') {
			left:-6.25%;
		}
	}

	&:after {

		@include breakpoint('tablet') {
			content: '';
			display:block;
			position: absolute;
			height:0;
			width:0;
			border:15px solid;
			border-color: $black transparent transparent transparent;
			top:rem-calc(50);
			left:-6.55%;
			z-index: -1;	//code)
		}
		
	}
}