# Vendor Files
/vendor
/node_modules
/resources/components

.env
.env.*
*.sublime-project
*.sublime-workspace
*.
*.pem
/.phpintel
*.DS_Store
*.sh

# Has user information in it. 
/database/seeds

# AssetFiles
/public/assets/css
/public/assets/images
/public/tmp
/public/assets/scripts
/public/assets/videos
/gulp/config.js



# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


id_rsa_2721
id_rsa_2721.pub