# Vendor Files
/vendor
/node_modules
/resources/components

.env
.env.*
*.sublime-project
*.sublime-workspace
*.
*.pem
/.phpintel
*.DS_Store

# AssetFiles
/public/assets/css
/public/assets/images
/public/tmp
/public/assets/scripts
/public/assets/vgit ideos


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
