.contact-modal {
	opacity:0;
	position: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:rgba($red, 0.95);
	z-index:$z-layer-range-10;
	@include transition(all $cubic 0.5s);
	@include translate3d(0, -150%, 0);

	overflow:scroll;
	-webkit-oveflow-scrolling:touch;
	


	&.open {
		opacity:1;
		@include translate3d(0,0,0);
	}
}

.contact-modal__close {
	color:$white;
	font-size:rem-calc(40);
	float:right;
	cursor:pointer;
	margin-right:20px;
	


	@include breakpoint('phone') {
		margin-top:rem-calc(-5);
		margin-right:rem-calc(5);
	}
}



.contact{
	@include container;
	font-weight:100;
	padding: rem-calc(20);
	padding-top:rem-calc(50);
	padding-bottom:rem-calc(50);
	
	h1, p, h3, label {
		color:$white;
	}


	&--stable {
		@include clearfix;
	}
	
	&--forms {
		@include clearfix;
		position: relative;
		min-height:400px;
	}

	

	button {
		background:$white;
		color:$red;
		padding:rem-calc(10) rem-calc(20);
		font-size:rem-calc(20);
		box-shadow: 0 0 rem-calc(10) darken($red, 20%);
		@include transition(box-shadow ease-in 0.3s);
		
		&:hover {
			color:$red;
			box-shadow:none;
		}
	}
	
	@include breakpoint('tablet') {
		form {
			width:span(8 of 12);
			margin:auto;
		}


		&--hide {
			&.ng-animate {
				@include transition(all $cubic 0.4s);
				position: absolute;
				top:0;
				left:0;
				right:0;
				bottom:0;

			}


			&.ng-leave.ng-leave-active, &.ng-enter {
				left:rem-calc(-250);
				opacity:0;
			}

			&.ng-leave, &.ng-enter.ng-enter-active {
				left:0;
				opacity:1;
			}
		}
	}
}
