// .m-container {
// 	background:$white;
// }

.m-container section {
	padding-top:rem-calc(50);
	padding-bottom:rem-calc(50);
}


.m-container .contain {
	@include container;
}


.m-container div {
	img {
		width:100%;
	}
}



.fixed-asset {
	position: relative;
	min-height:800px;
	background-attachment: fixed;
	background-position:top center;
	z-index:1;
}

.container {
	width:90%;
	max-width: 768px;
	margin: 0 auto;

	&::after {
		content: '';
		display: table;
		clear:both;
	}
}

.scrolling-asset {
	position: relative;
	min-height:100%;
	padding:4em 0;
	z-index:2;
}

