.contact-modal {
	opacity:0;
	position: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:rgba($red, 0.95);
	z-index:$z-layer-range-10;
	@include transition(all $cubic 0.5s);
	@include translate3d(0, -150%, 0);

	overflow:scroll;
	-webkit-oveflow-scrolling:touch;
	


	&.open {
		opacity:1;
		@include translate3d(0,0,0);
	}
}

.contact-modal__close {
	color:$white;
	font-size:rem-calc(40);
	float:right;
	cursor:pointer;
	margin-right:20px;
	


	@include breakpoint('phone') {
		margin-top:rem-calc(-5);
		margin-right:rem-calc(5);
	}
}



.contact{
	@include container;
	font-weight:100;
	padding: rem-calc(20);
	padding-top:rem-calc(50);
	padding-bottom:rem-calc(50);
	
	h1, p, h3, label {
		color:$white;
	}


	&--stable {
		@include clearfix;
	}
	
	&--forms {
		@include clearfix;
		position: relative;
		min-height:400px;
	}

	

	button {
		border:rem-calc(2) solid $white;
		color:$white;
		padding:rem-calc(10) rem-calc(20);
		font-size:rem-calc(20);

		@include transition(color $cubic 0.4s, background-color $cubic 0.4s);
		
		&:hover {
			color:darken($red, 10%);
			background:$white;
		}
	}


	.mail__success, .mail__error {
		margin-top:0;
		opacity:0;
		@include translate3d(0, 100%, 0);
		@include transition(transform ease-in 0.3s, opacity ease-in 0.3s);


		&.active {
			opacity:1;
			@include translate3d(0, -50%, 0);
		}
	}



	
	@include breakpoint('tablet') {
		form {
			width:span(8 of 12);
			margin:auto;
		}

		&--forms {
			overflow:hidden;
		}


		&--hide {
			@include clearfix;

			&.ng-animate {
				@include transition(all $cubic 0.4s);
				position: absolute;
				top:0;
				left:0;
				right:0;
				bottom:0;

			}

			&.ng-leave.ng-leave-active, &.ng-enter {
				top:rem-calc(-250);
				opacity:0;
			}

			&.ng-leave, &.ng-enter.ng-enter-active {
				top:0;
				opacity:1;
			}
		}
	}
}
