.m-navigation {
	width:100%;
	z-index:$z-layer-range-8;
	padding:rem-calc(10);
}


.m-navigation {
	@include container;
	margin-top:rem-calc(20);
	

	div {
		@include span(6 of 12);
		&:last-child { @include last; }
	}



	.logo {
		height:40px;
		
	}

	

	&__links {
		
		ul {
			text-align: right;

			li {
				margin-right:rem-calc(10);
				font-size:rem-calc(18);
				margin-top:rem-calc(5);
			}
		}
	}


	@include breakpoint('phone') {
		&.show-work {
			.m-navigation__contact {display:none;}
		}

		&.show-contact {
			.m-navigation__work { display: none;}
		}

		margin-bottom:rem-calc(50);
	}

}







