.m-navigation {
	width:100%;
	z-index:$z-layer-range-8;
	padding:rem-calc(10);
}


.m-navigation {
	@include container;
	margin-top:rem-calc(20);
	

	
	.nav-logo {
		@include span(6 of 12);
	}



	.logo {
		width:80px;
		height:40px;
	}

	

	&__links {
		@include span(6 of 12);
		@include last;

		ul {
			text-align: right;

			li {
				margin-right:rem-calc(10);
				font-size:rem-calc(18);
				margin-top:rem-calc(5);
			}
		}
	}


	@include breakpoint('phone') {
		.m-navigation__contact {
			display: inline-block;
		}
		
		.m-navigation__work {
			display: inline-block;
		}

		// &.show-work {
		// 	.m-navigation__contact {display:none;}
		// }

		// &.show-contact {
		// 	.m-navigation__work { display: none;}
		// }

		margin-bottom:rem-calc(50);
	}

}







