.project-abstracts {
	margin-top:rem-calc(50);
	
	ul {
		@include clearMP;
	}

	li {
		list-style:none;
		width:100%;
		display: inline-block;

		&:first-child {
			font-size:rem-calc(16);
			font-weight:bolder;
		}

		&:nth-child {

		}

		&:last-child {
			color:lighten($gray, 10%);

		}
	}


	@include breakpoint('tablet') {
		@include span(10 of 12);
		@include push(2 of 12);

		ul {
			border-bottom: 1px solid $gray;
		}

		ul li {
			line-height:4.4;
			@include span(4 of 12);
			&:last-child {@include last;}

			&:nth-child {
				display: none;
			}
		}
	}


	@include breakpoint('laptop') {
		
	}
}