.project-title {
	text-align: center;
	margin:rem-calc(60) auto;
	@include container;


	h2, h3 {
		font-family:$body-font-family;
	}

	h1 { 
		font-size:rem-calc(26);
		color:$red;
		font-family:$header-font;
		margin-top:0;
		margin-bottom:0;
	} 
	
	h2 { 
		font-size:rem-calc(16);
		margin-top:rem-calc(0);
	}
	
	h3 { 
		font-size:rem-calc(12);
		margin-bottom:0;
		text-transform: uppercase;
	}


	@include breakpoint('tablet') {
		h1 {font-size:rem-calc(40);}
	}


	@include breakpoint('laptop') {
		h1 { font-size:rem-calc(50);}
		h2 { margin-top:rem-calc(-10);}
	}
	
}



.project-copy {
	width:span(12 of 12);
	margin:rem-calc(50) auto;

	&--left {
		width:span(12 of 12);
		margin:rem-calc(50) auto;
	}

	@include breakpoint('tablet') {
		width:span(9 of 12);
		margin:rem-calc(50) auto;

		&--left {
			@include span(8 of 12);			
		}
	}

	@include breakpoint('laptop') {
		width:span(7 of 12);
		margin:rem-calc(50) auto;

		&--left {
			@include span(6 of 12);			
		}
	}
}


.project-image {
	width:100%;
	position: relative;
	
	@include breakpoint('tablet') {
		@include transition(transform ease-in 1.2s);
		@include translate3d(0,0,0);


		
		&::before {
			@include clearMP;
			content:"";
			position: absolute;
			height:100%;
			width:100%;
			background:lighten($gray-light, 20%);
			top:0;
			
			@include transition(opacity ease-in 0.2s);
			opacity:0;
		}


		.off & {
			@include translate3d(0, 10%, 0);
			background-color:$gray;
			
			&::before {
				opacity:1;
			}
			
		}
	}



}


.showcase-image {
	margin:rem-calc(10) auto;

	@include breakpoint('laptop') {
		margin-top:rem-calc(20);
		width:60%;
	}

	@include breakpoint('desktop') {
		width:70%;
	}
}





.project-screen-shot {
	@include container;
	margin-top:rem-calc(40);
	
	h5 {
		color:$gray-light;
		text-transform: uppercase;
		font-family:$body-font-family;
		font-weight:100;
		// border-bottom:rem-calc(1) dotted $gray-light;
		text-align: center;
		margin-bottom:0;
	}

	p {
		text-align: center;
		margin-top:0;
	}

	
	.project-image {
		width:80%;
		margin:auto;
		margin-top:rem-calc(20);

		img {
			box-shadow:0 0 rem-calc(10) $gray-light;
		}
	}


	@include breakpoint('tablet') {
		
	}

	@include breakpoint('laptop') {

		&--left {
			@include span(3 of 12);
		
			.project-image {
				width:100%;
			}

		}

		&--right {
			@include span(8 of 12);
			@include last;
			@include push(1 of 12);

			.project-image {
				width:100%;
			}
		}

		&--thirty {
			@include span(4 of 12 20);
			&:last-child {@include last;}

			.project-image, img {width:100%;}
		}

		&--fifty {
			@include span(6 of 12 40);
			&:last-child {@include last;}

			.project-image, img {
				width:100%;
			}
		}
	}
}



.project-credits {
	margin-top:rem-calc(40);
	text-align: center;
	
	h5 {
		font-size:rem-calc(18);
		text-align: center;
		color:$red;
	}

	ul, ul li {@include clearMP;}

	ul li {
		list-style:none;
		display: block;
		width:100%;
		margin-top:rem-calc(10);
	}

	strong {
		display: block;
		text-transform: uppercase;
		color:$gray;
	}


	@include breakpoint('tablet') {
		width:span(12 of 12);
		margin:auto;
	}

	@include breakpoint('tablet') {
		width:span(10 of 12);
		margin:auto;
		margin-top:rem-calc(90);

		ul li {
			display: inline;
			margin-right:rem-calc(20);
		}

		strong {
			display:inline;
			font-size:rem-calc(12);
		}
	}					
}

.project-contact {
	@include container;
	margin-top:rem-calc(40);

	&__button {
		margin:auto;
		text-align: center;
	}


	@include breakpoint('tablet') {
		width:span(8 of 12);
	}


	@include breakpoint('laptop') {
		width:span(6 of 12);
	}




}