/**
 * Button Container
 */


button, .button {
	@include clearMP;


	border:none;
	outline:none;
	background:$red;
	padding:rem-calc(8) rem-calc(15);
	color:$white;
	

	a {
		color:$white;
	}

	&:hover {
		background:darken($red, 10%);
	}
}


/*
|--------------------------------------------------------------------------
| Progress Buttons
|--------------------------------------------------------------------------
|
| Buttons that will show a progress rotation circle on submit
|
*/

.progress-spinner {
  border-bottom: $spinner-size solid rgba(255, 255, 255, .4);
  border-left: $spinner-size solid rgba(255, 255, 255, .4);
  border-right: $spinner-size solid rgba(255, 255, 255, .4);
  border-top: $spinner-size solid rgba(255, 255, 255, .8);
  border-radius: 100%;
  height: $spinner;
  width: $spinner;
  @include animation(rotation $spinner-speed infinite linear);

  &.white {
    border-bottom: $spinner-size solid rgba($white, .6);
    border-left: $spinner-size solid rgba($white, .6);
    border-right: $spinner-size solid rgba($white, .6);
    border-top: $spinner-size solid rgba($white, .8);
    @include animation(rotation $spinner-speed infinite linear);
  }

  &.red {
    border-bottom: $spinner-size solid rgba($red, .6);
    border-left: $spinner-size solid rgba($red, .6);
    border-right: $spinner-size solid rgba($red, .6);
    border-top: $spinner-size solid rgba($red, .8);
    @include animation(rotation $spinner-speed infinite linear); 
  }
}



@keyframes rotation {
  from {@include rotate(0deg);}
  to {@include rotate(359deg);}
}

@-webkit-keyframes rotation {
  from {@include rotate(0deg);}
  to {@include rotate(359deg);}
}


.button__loading {
	
	@extend %clearfix;
	text-align: center;
	@include transition(opacity ease-in 0.3s);
	
	.progress-spinner, .button-text {
		@include transition(opacity ease-in 0.4s);
	}

	.progress-spinner {
		position: absolute;
		display: inline-block;
		margin-left:rem-calc(-14);
		opacity:0;
	}

	.button-text {
		opacity:1;
	}


	&.loading {
		.progress-spinner {
			opacity:1;
		}

		.button-text {
			opacity:0;
		}
	}


	&.done {
		display:none;
	}
}

