/*
|--------------------------------------------------------------------------
| Tables on the site
|--------------------------------------------------------------------------
|
| Styles for Table
| @note Tables inside of article body are handled in pages/article-body
| 
|
*/

table {
	width:100%;
}

thead {
	background:lighten($gray-light, 5%);
	th {
		padding:rem-calc(10) rem-calc(20);
		color:$white;
		text-align: left;
	}
}

tr {
	border-top:1px solid lighten($gray-light, 10%);
	&:first-child {
		border:0;
	}

	&.header-column {
		padding-top:rem-calc(30);
		background-color:lighten($gray-light, 20%);
	}
}

td {
	padding:rem-calc(10) rem-calc(15);
}


tfoot {
	font-size:$font-size-legal;
	background:$gray;
	color:$black;
}






