.top-button {
	background:rgba($red, 0.9);
	color:$white;
	padding:rem-calc(10) rem-calc(30);
	position: fixed;
	right:rem-calc(20);
	bottom:rem-calc(10);
	z-index:$z-layer-range-10;
	cursor:pointer;
	
	@include translate3d(0, 200%, 0);
	@include transition(transform $cubic 0.4s);
	
	i {
		display: inline-block;
		margin-left:rem-calc(5);
	}

	&.fixed {
		@include translate3d(0,0,0);	
	}
}